@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,700&family=Shrikhand&display=swap");
@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
/*Responsive*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,700&family=Shrikhand&display=swap");
@media screen and (max-width: 767px) {
  header {
    background: #fff;
    display: flex;
    justify-content: center;
    background: var(--White, #fff);
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.15);
  }
  header .logo {
    width: 100%;
    max-width: 170px;
    padding: 23px 0px 10px 0px;
  }
}

/***Section location***/
@media screen and (max-width: 767px) {
  .location {
    font-family: "Roboto", serif;
    background-color: #eaeaea;
    box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 50px;
  }
  .location .location,
  .location i,
  .location h4 {
    color: #353535;
  }
}

/***Section Title reservation***/
@media screen and (max-width: 767px) {
  .title-reservation {
    text-align: center;
    padding: 30px 30px;
    background-color: #f6f6f6;
  }
  .title-reservation h1 {
    font-family: "Roboto", serif;
    font-size: 26.3px;
    font-weight: 700;
  }
  .title-reservation p {
    font-family: "Roboto", serif;
    color: #353535;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  button {
    background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    border-radius: 25px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 30px 2px;
  }
  button:hover {
    background: linear-gradient(193deg, #9356dc -11.44%, #ff79da 123.93%);
    opacity: 0.7;
  }
}
button a {
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", serif;
}

/*Responsive*/
/***Fonctionnement***/
@media screen and (max-width: 767px) {
  .fonctionnement {
    background: #fff;
  }
  .fonctionnement h1 {
    font-family: "Roboto", serif;
    font-size: 24px;
    font-weight: 700;
    margin: 50px 0px 0px 20px;
  }
  .fonctionnement span.step {
    background: #9356dc;
    font-family: "Roboto", serif;
    border-radius: 0.8em;
    color: #ffffff;
    line-height: 1.6em;
    text-align: center;
    width: 1.6em;
    margin-left: -65px;
    font-size: 15px;
  }
  .fonctionnement .fonctionnement-box {
    padding: 30px 20px 0px 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    cursor: context-menu;
  }
  .fonctionnement .Choisissez {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
    align-items: baseline;
    background: #F6F6F6;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 0px 20px 53px;
    font-family: "Roboto", serif;
  }
  .fonctionnement .composez {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
    align-items: center;
    background: #F6F6F6;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 0px 20px 53px;
    font-family: "Roboto", serif;
  }
  .fonctionnement .degustez {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 25px;
    align-items: center;
    background: #F6F6F6;
    width: 100%;
    height: 70px;
    border-radius: 20px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 0px 20px 53px;
    font-family: "Roboto", serif;
  }
}

@media screen and (max-width: 767px) {
  .mobile-screen-button {
    width: 17px;
    height: 21px;
    fill: #7E7E7E;
  }
  .list-ul {
    width: 17px;
    height: 21px;
    fill: #7E7E7E;
  }
  .fa-store {
    color: #9356dc;
    font-size: 17px;
  }
  .checkbox-container {
    position: relative;
    display: inline-block;
  }
  input[type=checkbox] {
    display: none; /* Cache la case à cocher */
  }
  label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
  }
  .default-icon,
  .hover-icon {
    font-size: 24px;
    color: #101010; /* Couleur par défaut */
    opacity: 0.8;
    transition: color 0.3s, transform 0.3s;
  }
  .hover-icon {
    position: absolute;
    opacity: 0;
    color: color-mix(in srgb, #9356dc 100%, #ff79da 100%); /* Couleur du hover */
  }
  input[type=checkbox]:checked + label .default-icon {
    opacity: 0;
    /* Cache l'icône par défaut quand coché */
  }
  input[type=checkbox]:checked + label .hover-icon {
    opacity: 1;
    /* Affiche l'icône active quand coché */
  }
  label:hover .hover-icon {
    opacity: 1;
  }
  label:hover .default-icon {
    opacity: 0;
  }
}
/*Responsive*/
@media screen and (max-width: 767px) {
  .restaurants {
    background: #f6f6f6;
    margin-top: 50px;
    padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
  }
  .restaurants h1 {
    font-family: "Roboto", serif;
    font-size: 24px;
    font-weight: 700;
    margin: 50px 0px 0px 20px;
    margin-left: 0;
  }
  .restaurants img {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 180px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .restaurants .card {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    width: 100%;
    height: 260px;
    border-radius: 15px 15px 15px 15px;
    margin-top: 20px;
    position: relative;
  }
  .restaurants .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .restaurants .container {
    padding: 10px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .restaurants a {
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  .restaurants .top-right {
    font-family: "Roboto", serif;
    font-size: 14px;
    font-weight: 500;
    color: #008766;
    border-radius: 2px;
    background: #99E2D0;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 8px 13px 5px 13px;
    width: 80px;
    float: right;
    margin-top: -170px;
    position: relative;
    margin-right: 10px;
  }
  .restaurants .description {
    font-family: "Roboto", serif;
    line-height: 25px;
  }
  .restaurants h4 {
    font-size: 18px;
    font-weight: 700;
  }
  .restaurants p {
    font-weight: 300;
    font-size: 17px;
  }
}

@media screen and (max-width: 767px) {
  footer {
    background: #353535;
    font-family: "Roboto", serif;
    color: white;
    padding: 25px;
    margin-top: 70px;
  }
}
footer h4 {
  font-family: "Shrikhand", serif;
  width: 100%;
  font-size: 18px;
}
footer .footer-text {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  line-height: 27px;
}
footer .ft-paragraph {
  font-size: 16px;
  font-weight: 400;
}
footer .info-ft {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .mentions-contact {
  font-weight: 300;
  font-size: 16px;
}/*# sourceMappingURL=main.css.map */