@import "../utils/variables";
@include mobile {
  .mobile-screen-button {
    width: 17px;
    height: 21px;
    fill: $icon-color;
  }
  .list-ul {
    width: 17px;
    height: 21px;
    fill: $icon-color;
  }

  .fa-store {
    color: $primaryBtn;
    font-size: 17px;
  }

  .checkbox-container {
    position: relative;
    display: inline-block;
  }

  input[type="checkbox"] {
    display: none; /* Cache la case à cocher */
  }

  label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
  }

  .default-icon,
  .hover-icon{
    font-size: 24px;
    color: #101010; /* Couleur par défaut */
    opacity: 0.8;
    /*transition: color 0.3s, transform 0.3s;*/
    transition: 3s;
  }

  .hover-icon {
    position: absolute;
    opacity: 0;
  /* Couleur du hover */
    color: mix($primaryBtn, $secondaryBtn, 50%);
  }

   input[type="checkbox"]:checked + label .default-icon {
    opacity: 0;
    /* Cache l'icône par défaut quand coché */
  }

 input[type="checkbox"]:checked + label .hover-icon {
    opacity: 1;
    /* Affiche l'icône active quand coché */
  }

  label:hover .hover-icon {
    opacity: 1;
  }

  label:hover .default-icon {
    opacity: 0;
  }


}


.mobile-screen-button {
  width: 17px;
  height: 21px;
  fill: $icon-color;
}
.list-ul {
  width: 17px;
  height: 21px;
  fill: $icon-color;
}

.fa-store {
  color: $primaryBtn;
  font-size: 17px;
}

.checkbox-container {
  position: relative;
  display: inline-block;
}

input[type="checkbox"] {
  display: none; /* Cache la case à cocher */
}

label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.default-icon,
.hover-icon{
  font-size: 24px;
  color: #101010; /* Couleur par défaut */
  opacity: 0.8;
  /*transition: color 0.3s, transform 0.3s;*/
  transition: 3s;
}

.hover-icon {
  position: absolute;
  opacity: 0;
 /* Couleur du hover */
  color: mix($primaryBtn, $secondaryBtn, 50%);
}

 input[type="checkbox"]:checked + label .default-icon {
  opacity: 0;
  /* Cache l'icône par défaut quand coché */
}

input[type="checkbox"]:checked + label .hover-icon {
  opacity: 1;
  /* Affiche l'icône active quand coché */
}

label:hover .hover-icon {
  opacity: 1;
}

label:hover .default-icon {
  opacity: 0;
}
