.header-box {
 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-shadow: none;

    .logo {
      width: 100%;
      max-width: 170px;
      padding: 23px 0px 10px 0px;
    }

    .fa-arrow-left {
      margin-left: -50px;
      font-size: 23px;
      cursor: pointer;
      color: $text-color;
      margin-top: 5px;
    }
}

.header-box {
  @include tablette_desktop {
    .logo {
      width: 100%;
      max-width: 180px;
      padding: 30px 0px 20px 0px;
    }

    .fa-arrow-left {
      margin-left: -270px;
      font-size: 23px;
      cursor: pointer;
      color: $text-color;
      margin-top: 5px;
    }
  }
}
