.header-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  box-shadow: none;

  .fa-arrow-left {
    margin-left: -50px;
    font-size: 23px;
    cursor: pointer;
    color: $text-color;
    margin-top: 5px;
  }
}

.header-box {
  @include tablette_desktop {
    .fa-arrow-left {
      margin-left: -270px;
      font-size: 23px;
      cursor: pointer;
      color: $text-color;
      margin-top: 5px;
    }
  }
}
