/*PLATS*/
.menu-plats {
    
      @include entrees_plats_desserts_flex;
      margin-top: 45px;
  
      .titre-listes {
        @include entrees_plats_desserts_titres;
  
        span {
          @include entrees_plats_desserts_titres_span;
        }
      }
   
  }




/*PLATS desktop*/
.menu-plats {
  @include tablette_desktop {
    @include entrees_plats_desserts_flex;
   
    padding: 0px 100px 50px 100px;
    align-items: stretch;

    .titre-listes {
      @include entrees_plats_desserts_titres;
      margin-left: 0px;

      span {
        @include entrees_plats_desserts_titres_span;
      }
    }
  }
}
