.menu-card {
  @include entrees_plats_desserts_flex;

  .titre-listes {
    @include entrees_plats_desserts_titres;

    span {
      @include entrees_plats_desserts_titres_span;
    }
  }
}

.box-menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


/*Desktop*/
.menu-card {
  @include tablette_desktop {
    @include entrees_plats_desserts_flex;
    padding: 0px 100px 50px 100px;
    align-items: stretch;

    .titre-listes {
      @include entrees_plats_desserts_titres;
      margin-left: 0px;
    }
  }
}

.box-menu {
  @include tablette_desktop {
    gap: 0px;
  }
}
