/***Fonctionnement***/
.fonctionnement {
  @include mobile {
    background: #fff;

    h1 {
      font-family: $font-text;
      font-size: 24px;
      font-weight: 700;
      margin: 50px 0px 0px 20px;
    }
  }
}
