@import "../utils/mixins";
@import "../utils/variables";

.restaurants {
  @include mobile {
    background: #f6f6f6;
    margin-top: 50px;
    padding: 0px 20px 70px 20px;
    display: flex;
    flex-direction: column;

    h1 {
      @include h1-title;
      margin-left: 0;
    }

    img {
      @include restaurants-images;
    }

    .card {
      @include restaurants-card;
    }

    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
      @include grid;
    }

    a {
      cursor: pointer;
      text-decoration: none;
      color: black;
    }

    .top-right {
      @include nouveau-top;
    }

    .description {
      font-family: $font-text;
      line-height: 25px;
    }

    h4 {
      font-size: 18px;
      font-weight: 700;
    }

    p {
      font-weight: 300;
      font-size: 17px;
    }
  }
}
