/***Section Title reservation***/
@include mobile {
  .title-reservation {
    text-align: center;
    padding: 30px 30px;
    background-color: #f6f6f6;

    h1 {
      font-family: $font-text;
      font-size: 26.3px;
      font-weight: 700;
    }

    p {
      font-family: $font-text;
      color: $text-color;
      font-size: 18px;
      font-weight: 300;
      margin-top: 10px;
    }
  }
}


/*.title-reservation {
  text-align: center;
  padding: 30px 30px;
  background-color: #f6f6f6;

  h1 {
    font-family: $font-text;
    font-size: 26.3px;
    font-weight: 700;
  }

  p {
    font-family: $font-text;
    color: $text-color;
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
  }
}*/