/***Section location***/
@import "../utils/variables";
@import "../base/typography";

.location {
  @include mobile {
    font-family: $font-text;
    background-color: #eaeaea;
    box-shadow: inset 0px -3px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 50px;

    .location,
    i,
    h4 {
      color: $text-color;
    }
  }
}
